{% extends 'base.html' %}
{% block title %}All Products{% endblock %}

{% block body %}
<table align="center">
    <tr>
        <th>ID</th>
        <th>Name of the item</th>
        <th>Quantity in Stock</th>
        <th>Price per unit</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Burger</td>
        <td>30</td>
        <td>100</td> 
    </tr>
    <tr>
        <td>2</td>
        <td>Pizza</td>
        <td>40</td>
        <td>180</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Smoothie</td>
        <td>20</td>
        <td>80</td>
    </tr>
</table>
{% endblock %}