<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <nav>
        <ul>
            <li><img src="{{ url_for('static', filename='logo.png')}}" width="50"></li>
            <div class="logo">
                
                <li><a href='/'>All Products</a></li>
                <li><a href='index.html'>Take Order</a></li>
            </div>

            <div class="user">
                <li>Not signed in</li>
            </div>
        </ul>
    </nav>
    <!-- {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for mes in messages %}
                <div class="flash"></div>
                {{ mes }}
            {% endfor %}
        {% endif %}
    {% endwith %} -->

    {% block body %}
    base
    {% endblock %}
</body>
</html>
<script src="script.js"></script>