<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
    <nav>
        <ul>
            <li><img src="logo.png" width="50"></li>
            <div class="logo">
                
                <li><a href='index.html'>All Products</a></li>
                <li><a href='index.html'>Take Order</a></li>
            </div>

            <div class="user">
                <li>Not signed in</li>
            </div>
        </ul>
    </nav>

    <table>
        <tr>
            <th>ID</th>
            <th>Name of the item</th>
            <th>Quantity in Stock</th>
            <th>Price per unit</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Burger</td>
            <td>30</td>
            <td>100</td> 
        </tr>
        <tr>
            <td>2</td>
            <td>Pizza</td>
            <td>40</td>
            <td>180</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Smoothie</td>
            <td>20</td>
            <td>80</td>
        </tr>
    </table>
<body>

</body>
</html>
<script src="script.js"></script>